

<aside ng-app="social-client" id="socialFeed">
  <div ng-controller="SocialFeedController" class="social-feed">
    
    <section class="feed-body">
      <article ng-repeat="post in feed">


        <!-- Begin Twitter Template -->

        <div class="row" ng-if="post.source == 'twitter'">
        
          <aside class="col-xs-2 text-center" style="padding-right:0;">
            <a href="http://twitter.com/{{post.user.screen_name}}">
              <i class="fa fa-twitter"></i>
            </a>
          </aside>
            
          <div class="col-xs-10">
            <h4 style="margin-top: 0;">
              <a href="http://twitter.com/{{post.user.screen_name}}" target="_blank">
                {{post.user.name}}
              </a>
              <small class="text-muted">
                <a href="http://twitter.com/{{post.user.screen_name}}">
                  @{{post.user.screen_name}}
                </a>
              </small>
            </h4>
            <p style="margin-bottom:0;">
              <span ng-bind-html="post.text | tweet"></span>
              <br>
            </p>
            <h3 class="text-muted" style="margin-top:0;"><small>{{formatDate(post.date)}}</small></h3>
          </div>

        </div>

        <!-- End Twitter Template -->

        <div ng-if="post.source == 'instagram'">

          <header class="row">
            <aside class="col-xs-2" style="padding-right:0px;">
              <a href="http://instagram.com/{{post.user.username}}" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </aside>
            <div class="col-xs-10">
              <h4 style="margin-top:0;">
                <a href="http://instagram.com/{{post.user.username}}">{{post.user.full_name}}</a><br>
                <small class="text-muted">
                  <a href="http://instagram.com/{{post.user.username}}">@{{post.user.username}}</a>
                </small>            
              </h4>
            </div>
          </header>

          <section class="row">
            <div class="col-md-12">
              <a href="{{post.link}}" target="_blank">
                <img ng-src="{{post.images.standard_resolution.url}}" class="img-responsive">
              </a>
              <small ng-bind-html="post.caption.text | post"></small>
              <h3 class="text-muted" style="margin-top:0;"><small>{{formatDate(post.date)}}</small></h3>
            </div>
          </section>

        </div>

        <hr>

      </article>        
    </section>

  </div>
</aside>

<div id="instafeed"></div>